<style>

    body{
        font-family: Roboto !important;
    }

    .alertMessage{
        color: #b94a48;
        background: #f2dede;
        border-color: #eed3d7;
        padding: 10px 8px;
        margin: auto;
        border-radius: 5px;
        margin-bottom: 0px;
        display: none;
        font-size: 13px;
        margin-left: 75px;
    }

    .login_fb_alert{
        display: none;
        margin: 0;
    }


    input.login-input-styles::-webkit-input-placeholder{
        font-size: 13px !important;
        font-family: Helvetica !important;
        color:gray;
    }

    .login-main{
        border:1px solid #ccc ;
        border-radius:5px;
        width:40%;
        min-width: 300px;
        max-width: 450px;
        margin: auto;

    }

    .input-prepend{
        margin-bottom: 5px;
        margin-top:1pc;
    }

    .headerBlock {
        background-color: #f5f5f5;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .login-model-title {
        font-size: 18px;
        text-align: left;
        margin: 0;
        padding: 10px;
    }

    .login-input-styles {
        width:95%;
        padding: 5px;
        border-color: #CCCCCC;
    }

    .login-image {
        padding-top: 5px;
    }

    #viewPwd {
        position: absolute;
        right: 10px;
        z-index: 10;
        top: 9px;
        color: gray;
        cursor: pointer;
    }

    a.login-brand:focus{
        outline: none;
        border: none;

    }
</style>
<script src="/js/login.js" type="application/javascript"></script>

<div class="container login-wrap mb-clc-mt" style="background-color: #fff;height: 100%;">

    <div class="row" style="margin-top: 5vh">
        <div class="col-md-12">
            <div class="row alert-m-h">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p_a_0">
                    <div style="width: 40%; margin: auto;min-width: 300px;max-width: 450px; height: 52px">
                        <div class="alert alert-danger login_fb_alert" id="noMailAndPwd" role="alert"><i class="fa fa-exclamation-triangle" style="padding-right: 6px;"></i>Please enter Username and Password</div>
                        <div class="alert alert-danger login_fb_alert" id="noMail" role="alert"><i class="fa fa-exclamation-triangle" style="padding-right: 6px;"></i>Please enter a Username</div>
                        <div class="alert alert-danger login_fb_alert" id="validMail" role="alert"><i class="fa fa-exclamation-triangle" style="padding-right: 6px;"></i>Please enter a valid email</div>
                        <div class="alert alert-danger login_fb_alert" id="noPwd" role="alert"><i class="fa fa-exclamation-triangle" style="padding-right: 6px;"></i>Please enter a valid Password</div>
                        <div class="alert alert-danger login_fb_alert" id="incorrectMail" role="alert"><i class="fa fa-exclamation-triangle" style="padding-right: 6px;"></i>Incorrect Username or Password</div>
                        <div class="alert alert-danger login_fb_alert" id="accessDenied" role="alert"><i class="fa fa-exclamation-triangle" style="padding-right: 6px;"></i>Access Denied - Please contact administrator</div>
                    </div>
                </div>
            </div>
        </div>
        <!--<p id="v-email"><i class="fa fa-exclamation-triangle" style="padding-right: 6px;"></i><span class="change-alert-text"></span></p>-->


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 login-r-side" style="margin-top: 0">

            <div class="login-main mb-login">
                <div class="modal-header headerBlock" style="padding: 9px;">
                    <h3 class="login-model-title">Login</h3>
                </div>

                <div style="background: #FFFFFF;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px">
                    <div class="modal-body" style="padding: 15px 25px">
                        <p style="font-size:13px;font-weight: 400">Login using your registered account.</p>

                        <div class="input-group input-prepend" style="text-align:left;margin-bottom: 0">
                            <span class="input-group-addon" style="background: #fff;"><i class="fa fa-user" aria-hidden="true" style="color:#333"></i></span>
                            <input type="text" placeholder="Username" maxlength="50" class="form-control login-input-styles" id="loginEmail" autofocus>
                        </div>
                        <div class="input-prepend" style="text-align:left;margin-top: -11px">
                            <div class="input-group " style="text-align:left;margin-top: 30px; position: relative ">
                                        <span class="input-group-addon" style="background: #fff;" id="basic-addon1">
                                            <i class="fa fa-lock" aria-hidden="true" style="color:#333"></i>
                                        </span>
                                <input type="password" maxlength="30" placeholder="Password" class="form-control login-input-styles" id="loginPwd"><i class="fa fa-eye-slash" id="viewPwd" aria-hidden="true" onclick="changePwdVisibility('viewPwd','loginPwd')"></i>
                            </div>

                            <div style="padding-top: 1%;margin-top: 15px;">

                                <label href="javascript:void(0)" class="pull-left visible-lg"
                                       style="margin-top:0px;font-weight: normal;font-size:13px;display: none!important;">
                                    <input id="remember" type="checkbox" name="remember-me" class="remember-me"
                                           style="margin-left: 0;"> &nbsp;<span style="vertical-align: 1px">Keep me logged in</span>
                                </label>

                                <div style="text-align: right;padding-right: 1%;font-size: 13px">
                                    <!--<a href="javascript:void(0)" onclick="goToForgotPwdPage()" class="link-in-login">Forgot your password?</a>-->
                                    <!--<div style="text-align: right;padding-right: 1%;font-size: 13px"><a href="javascript:void(0)" class="link-in-login">Forgot your password?</a>-->
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="modal-footer" style="background-color: #f5f5f5;padding-top: 12px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;">
                        <button class="btn btn-blue" id="loggingInBtn" style="font-size:13px;padding: 6px 11px; outline: none !important;" onclick="loginToTmatics()">
                            <i class="fa fa-lock" aria-hidden="true" style="color:#040404"></i>&nbsp;&nbsp;Login
                        </button>
                        <!--<p style="margin: 0;font-size: 13px;padding-top: 10px">Don't have an account? <a href="javascript:void(0)" class="link-in-login" onclick="goToRegistrationPage()">Register</a></p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function() {
        window.location.hash = '';
        $("#loginEmail,#loginPwd").keypress(function(event) {
            if (event.which == 13) {
                loginToTmatics();
            }
        });


        $('.f-tab-menu a').each(function (index) {
            $(this).removeClass("active");
            $("#f-login a").addClass("active");
        });
        $(".content-loader").css({"background-color":"#fff"})
    });
    $(window).resize(function(){
        $(".login-wrap").css({"height":'100%','background-color':"#fff"})
    })


</script>