<link rel="stylesheet" href="/css/report.css" type="text/css">
<script src="/js/report.js" type="application/javascript"></script>

<div class="container-fluid navTrendWrap">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="margin-bottom: 30px;width: 180px; padding: 0; background-color: #f6f6f6 !important; box-shadow: rgba(0,0,0,0.6) 0 0 6px; -webkit-box-shadow: 0px 0px 0px 0px #ccc inset, 0px 0px 3px #666 inset;">
            <ul class="nav nav-tabs reportsTab v-data-menus " role="tablist" >
                <h4>Reports</h4>

                <li><a href="#rawMessages"  data-toggle="tab" data-current-tab-name="Raw Messages">Raw Messages</a></li>
                <li><a href="#decodedMsgs"  data-toggle="tab" data-current-tab-name="Decoded Messages">Decoded Messages</a></li>
            </ul>

        </div>
        <div class="tab-content col-xs-10 col-sm-10 col-md-10 col-lg-10" style="clear: none; margin: 15px">

            <div class="tab-pane fade" id="rawMessages">
                <div class="row" style="background-color: #F6F6F6; border: 1px solid #ddd;padding: 10px 15px; margin: 0; margin-left: -7px">
                    <div class="col-md-6 col-sm-6 col-xs-6  col-lg-6" style="padding-right: 0;">
                        <span class="reportsTabTitle" style="display: inline-block; font-size: 14px; vertical-align: -6px; font-weight: bold"></span>

                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6  col-lg-6" style="padding-right: 0; text-align: right">
                        <div style="display: inline-block; margin-right: 5px;vertical-align: middle">
                            <a class="btn btn-group pull-right" style="padding-left: 12px;" href="javaScript:void(0)" id="rawMsgRefresh"><i class="fa fa-refresh"></i></a>
                        </div>
                        <div class="btn-group">
                            <div class="input-group pull-right" style="width: 250px;">
                                <div class="input-group-btn" id="raw-grid-filter" data-tg-init-search="deviceId">
                                    <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="searchRawDwn">Device ID</span>  <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0)" data-tg-search-for="deviceId" >Device ID</a></li>
                                        <!--<li><a href="javascript:void(0)" data-tg-search-for="customerId" >Customer Name</a></li>-->
                                    </ul>
                                </div>
                                <div style="position: relative;">
                                    <input type="text" style="width: 200px; border-radius: 0;" class="installation-search form-control btn-white gridSearch" id="searchRawMsgVal" placeholder="Search Device ID">
                                    <a href="javascript:void(0)" id="rawClearBtn" class="gridClose"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="input-group-btn">
                                    <button class="btn btn-white pull-right" id="searchrawMsgBtn" ><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <div style="display: inline-block;line-height: 1.4;vertical-align: -9px;margin-left: 10px">
                            <p style="margin: 0; font-size: 16px; font-weight: bold; text-align: center" id="totalRawMsgCount"> </p>
                            <p style="color: #888; font-size: 10px; margin: 0;">Total Count</p>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 " style="margin-top:5px;overflow-x: hidden">
                        <div id="rawMsgTargetId" style="margin-top: 10px; margin-bottom: 20px">

                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade"  id="decodedMsgs" >
                <div class="row" style="background-color: #F6F6F6; border: 1px solid #ddd;padding: 10px 15px; margin: 0; margin-left: -7px">
                    <div class="col-md-6 col-sm-6 col-xs-6  col-lg-6" style="padding-right: 0;">
                        <span class="reportsTabTitle" style="display: inline-block; font-size: 14px; vertical-align: -6px; font-weight: bold"></span>

                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6  col-lg-6" style="padding-right: 0; text-align: right">
                        <div style="display: inline-block; margin-right: 5px;vertical-align: middle">
                            <a class="btn btn-group pull-right" style="padding-left: 12px;" href="javaScript:void(0)" id="decodMsgRefresh"><i class="fa fa-refresh"></i></a>
                        </div>
                        <div class="btn-group">
                            <div class="input-group pull-right" style="width: 250px;">
                                <div class="input-group-btn" id="deco-grid-filter" data-tg-init-search="deviceId">
                                    <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="searchDecoDwn">Device ID</span>  <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0)" data-tg-search-for="deviceId" >Device ID</a></li>
                                        <!--<li><a href="javascript:void(0)" data-tg-search-for="customerId" >Customer Name</a></li>-->
                                    </ul>
                                </div>
                                <div style="position: relative;">
                                    <input type="text" style="width: 200px; border-radius: 0;" class="installation-search form-control btn-white gridSearch" id="searchDecoMsgVal" placeholder="Search Device ID">
                                    <a href="javascript:void(0)" id="decoClearBtn" class="gridClose"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="input-group-btn">
                                    <button class="btn btn-white pull-right" id="searchDecoMsgBtn" ><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <div style="display: inline-block;line-height: 1.4;vertical-align: -9px;margin-left: 10px">
                            <p style="margin: 0; font-size: 16px; font-weight: bold; text-align: center" id="totalDecoMsgCount"></p>
                            <p style="color: #888; font-size: 10px; margin: 0;">Total Count</p>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 " style="margin-top:5px;overflow-x: hidden">
                        <div id="decodedMsgTargetId" style="margin-top: 10px; margin-bottom: 20px">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script id="rawMsgTmplId" type="text/html">
    <tgrid>
        <tgrid:head>
            <tr class="tgh-row row_table" style=" text-transform: uppercase;">
                <th>Device</th>
                <th data-sort="timestamp">Message Generated Time</th>
                <th>Raw Message</th>
            </tr>

        </tgrid:head>
        <tgrid:body>
            <tr class="tgb-row" style="white-space: nowrap">
                <td style="font-weight: bold">{%= data.deviceId ? data.deviceId :'-' %}</td>
                <td>{%= data.messageTime ? data.messageTime :'-'%}</td>
                <td style="word-break: break-all;white-space: normal;">{%= data.rawBody ? JSON.stringify(data.rawBody) :'-' %}</td>
            </tr>
        </tgrid:body>

    </tgrid>
</script>



<script id="decodedMsgTmplId" type="text/html">
    <tgrid>
        <tgrid:head>
            <tr class="tgh-row row_table" style=" text-transform: uppercase;">
                <th>Device</th>
                <th data-sort="timestamp">Message Generated Time</th>
                <th>Decoded Message</th>
            </tr>

        </tgrid:head>
        <tgrid:body>
            <tr class="tgb-row" style="white-space: nowrap">
                <td style="font-weight: bold">{%= data.deviceId ? data.deviceId :'-' %}</td>
                <td>{%= data.messageTime ? data.messageTime :'-'%}</td>
                <td style="word-break: break-all;white-space: normal;">{%= data.data ? data.data :'-' %}</td>
            </tr>
        </tgrid:body>

    </tgrid>
</script>


<script>
    initReportsTabs();
    $(".reportsTab a:first").tab('show');

    $(window).resize(function(){
        calculateHeight();
    });

</script>