 <% if(page != 'login') { %>
<div id="menu_collapse" class="collapse in">
    <div class="">
        <ul class="nav nav-tabs main_menu">
            <li class="img-logo"><img src="http://tankiq.tmatics.com/images/logo/tank-logo.png" style="width:180px;height:25px;"></li>

            <li id="menu_Tank2"  onclick="location.href='/status'">
                <a  href="#tankIq2" data-toggle="tab"><img style="margin-right:5px;" src="/images/homelayout/ic_admin.png"> TankiQ 2.0</a></li>
            <li class="googleTranslate pull-right">
             <div id="google_translate_element"></div>
             </li>
       </ul>


    </div>

</div>
<%  } %>



 <div class="tab-content">

     <nav class="navbar navbar-inverse ">
       <% if(page != 'login') { %>
         <div class="container-fluid" style="padding:0;">

             <span  class="btn btn-info collapse-btn" onclick="toggleicon()" data-toggle="collapse" data-target="#menu_collapse"><i class="tz-icon-double-angle-up toggleicon" style="font-size: 14px;color:#999"></i></span>
             <ul class="nav navbar-nav">
                 <li class="reports"><a href="/reports"><i class="icon-list-alt icon-white"></i> Reports</a></li>

             </ul>
             <ul class="nav navbar-nav navbar-right" style="margin-right:0;">

                <li class="log-out"><a class="dropdown"><i class="icon-user icon-white"></i> Teezle Support <b class="caret" style="border-top:4px solid #fff;"></b></a></li>


                                                      <ul class="dropdown-menu pull-right" id="logOutMenu"  >


                                                          <li>
                                                             <div style="padding:10px;white-space:nowrap">
                                                                   <label><h4 style="text-align:center;color: #000000;"><span id="layFirstName"> Teezle</span>&nbsp;<span id="layLastName">Support</span></h4></label>
                                                                                                             <label><img src="images/email.png" align="absmiddle">
                                                                                                                 <span id="homeLayEmail" style="margin-left: 6px; color:#999999;">tmatics@teezle.com</span></label>
                                                                                                             <label><img src="images/phone.png" align="absmiddle">

                                                                                                                 <span style="margin-left: 10px;color:#999999;" id="homeLayPhone">+19750678288</span>

                                                                                                             </label>
                                                                                                             <label>

                                                                                                                 <i class="tz-icon-globe" style="color:#666"></i>
                                                                                                                 <span style="margin-left: 10px;color:#999999;" id="">( GMT+5:30 ) Asia/Calcutta</span>

                                                                                                             </label>
                                                                                                             <label><a class="btn btn-primary pull_left" href="javascript:void(0)" style=" color:#FFFFFF;" onclick="notEnabled()">View Profile</a>
                                                                                                                 &nbsp;&nbsp; <a style="display: inline-table;color:#FFFFFF;" href="javascript:void(0)" id="btn-logout" class="btn btn-danger" onclick="loggingOut()">Logout</a></label>
                                                             </div>

                                                          </li>



                                                      </ul>





             </ul>
             </div>
       <% }  else {%>
               <div class="container no-padding">
                    <a class="navbar-brand" href="javascript:void(0)"><img src="images/logo/tank-home.png"></a>
                     <ul class="nav navbar-nav navbar-right" id="loginMenu" style="margin-right:0;">
                     <li><span class="btn btn-primary" id="loginBtn"><i class="icon-lock icon-white fadeImg"></i> Login</span></li>


                     </ul>
                     <div class="google-translate">
                     <div id="google_translate_element"></div>

             </div>
               </div>

       <% } %>

     </nav>

</div>

  <script type="text/javascript">

      $('#menu_Tank2, .reports').addClass('active');

      $(document).on("click", function(event){
          $(".log-out").click(function() {
              $("#logOutMenu").show();
          });
          var $trigger = $(".log-out");
          if($trigger !== event.target && !$trigger.has(event.target).length){
              $("#logOutMenu").slideUp("fast");
          }
      });
                                  function googleTranslateElementInit() {
                                      new google.translate.TranslateElement({
                                          pageLanguage: 'en',
                                          layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                                      }, 'google_translate_element');
                                  }

 </script>

 <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <script type="text/javascript">

 var activePage = '<%= page %>';


     $(".log-out").click(function(){
        $('#logOutMenu').toggleClass('display');

        });

</script>
