* {
    margin:0;
    padding:0;
}
.common-css {
    background-color:#F6F6F6;
border:none;
    width:168px;
}
.reference-common-css {
    background-color:white;
    border:1px solid #ccc;
    border-right:none;
    width:185px;
}
#con2 {
    margin-top:10px;
}
.notify-header {
    margin: 0 0 0px 5px;
    font-size : 14px;
    font-weight:bold;
    background:none;
}
#con4 {
    margin-top:10px;
}
.emptyDiv {
    width:155px;
    padding-bottom:10px;
    border-bottom:1px solid #ccc;
    margin-left:15px;
}
.side-menu {
    list-style-type: none;
    padding:4%;
}
.side-menu-notification {
    width:198px;
    height:400px;
    list-style:none;
    margin:0 0 0 10px;
}
.side-menu-item-notification {
    padding: 8px;
    cursor:pointer;
    border-radius: 3px;
}
.side-menu-item-notification:hover{
    background-color:white;
}
    /*.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover {
        border-color: #ddd transparent #ddd #ddd;
    }*/


.notifications a {
    color: #333333;
    font-weight: bold;
    font-size : 13px;
    text-decoration : none;
}
.create-notify a {
    color: #333333;
    font-size : 13px;
    text-decoration : none;
}
.icons {
    margin-right:7px;
}
.notification-content {
    margin-left:20px;
    overflow:hidden;
}
.notification-tab-content {
    margin:15px 0 5px 0;
    border-bottom:1px solid #CCCCCC;
    padding-bottom:5px;
}
.notifysummary {
    border-bottom:1px solid #CCCCCC;
    padding:20px 0 5px 0;
}
.summaryheading {
    background:url('/images/notification/tagBg.png') no-repeat right #4B9AE9;
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    font-size:11px;
    padding:2px 15px 1px 5px;
}

.notificationcount {
    font-weight: bold;
    font-size : 18px;
}
.text-enabled {
    font-weight: inherit;
    color:#8c8c8c;
    font-weight: bold;
    font-size:13px;
}
.create-btn {
    margin-top : 10px;
    width : 100%;
}
.mynotification-btn {
    margin-top : 10px;
    width : 100%;
}
.channels {
    margin-top : 5px;
    color:#9a9a9a;
}
.tanklevel-img {
    border: 1px solid #cdcdcd;
    border-radius: 9px;
    padding: 9px;
    cursor: pointer;
    margin-left: 25px;
}
.tank-details {
    width:100%;
}
.text-tanklevel {
    cursor:pointer;
    margin:5px 0 0 30px;
}
.text-battery {
    cursor:pointer;
    margin:5px 0 0 40px;
}
.text-pressure {
    cursor:pointer;
    margin:5px 0 0 32px;
}
.mynotificationcount {
    font-weight: bold;
    font-size : 15px;
}
.mynotify-tank-details {
    border: 1px solid #cdcdcd;
    border-radius: 9px;
    padding: 9px;
    margin: 10px 0 0 15px;
    background-color:white;
    width:70px;
}
.mynotify-tanklevel {
    font-weight: bold;
    margin:1px 0 0 37px;
    font-size:13px;
}
.sms-tanklevel {
    font-weight: bold;
    margin:1px 0 0 14px;
    font-size:13px;
}
.email-tanklevel {
    font-weight: bold;
    margin:1px 0 0 10px;
    font-size:13px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 21px;
    float : left;
}

.switch input {
    display:none;
}
/**************/

.onoffswitch1 {
    top: 25px;
    left:48px;
    position: relative; width: 83px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch1-checkbox {
    display: none;
}

.onoffswitch1-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 30px;
}

.onoffswitch1-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch1-inner:before, .onoffswitch1-inner:after {

    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 21px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0px 15px 0px rgba(0,0,0,0.08) inset;
}
.head-notifiction {
    cursor: inherit;
    margin-top:8px;
}
.head-notifiction:hover {
    background:none;
}
.onoffswitch1-inner:before {
    content: "Enabled";
    font-size:13px;
    padding-left: 5px;
    background-color: #569f2c; color: white;
    border-radius: 30px 0 0 30px;
}

.onoffswitch1-inner:after {
    content: "Disabled";
    font-size:13px;
    padding-right: 1px;
    background-color: #c8402a; color: white;
    text-align: right;
    border-radius: 0 30px 30px 0;
}

.onoffswitch1-switch {
    display: block; width: 25px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 30px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    box-shadow: 0 1px 1px white inset;
}

.onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-inner {
  margin-left: 0;
}

.onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-switch {
    right: 0px;
}
/***************8*/

.delete-btn {
    margin-left:30px;
}
.edit-btn {
    margin-left:160px;
}
.change-btn {
    /*pointer-events: none;
    cursor: default;
    text-decoration:none;*/
    padding-left:5px;
  color:#8a8a8a;
    font-weight:bold;
}
.createdby {
    margin-top:7%;
    color:#8a8a8a;
}
.issue-check {
    color:#8a8a8a;
    margin:10px 0 10px 20px;
}
.sms-email {
    color:#aaa;
    margin:10px 40px 10px 0px;
    float:right;
}
.trigger-link {
    margin-top:40px;
    text-align:center;
    font-size : 33px;
    color:#999999;
}
.trigger-link a {
    text-decoration: underline;
}
.trigger-channel {
    margin:50px 0 5px 0;
    border-bottom:1px solid #cdcdcd;
}
.back-link {
    float:right;
    margin:20px 20px 0 0;
}
#showTrigger {
    height:280px;
}

.tank-level-below, .netDaily-gain-exceeds, .netDaily-gain-below, .tank-level-low, .net-daily-disposal, .tank-level-exceeds, .tank-level-high {
    margin:15px 0 0 20px;
    border:1px solid #CCCCCC;
    border-radius:4px;
    background-color:#f6f6f6;
    padding:10px;
    cursor: pointer;
}

.exceeds-high-heading, .battery-heading, .pressure-heading {
    color:#0080ff;
    font-weight:bold;
    margin-left:10px;
}
.exceeds-high-para, .battery-para, .pressure-para {
    color:#727272;
    margin-left:10px;
}
.constraints-btn {
    margin-top: 20px;
}
.trigger-tank-high {
    height: 580px;
}
.battery-low, .pressure-exceeds, .pressure-below{
    margin:15px 0 0 20px;
    border:1px solid #CCCCCC;
    border-radius:4px;
    background-color:#f6f6f6;
    padding:10px;
    cursor: pointer;
}
.battery {
    height:440px;
}
.pressure {
    height:430px;
}
.battery-link {
    margin-top:70px;
    text-align:center;
    font-size : 33px;
    color:#999999;
}
.battery-link a {
    text-decoration: underline;
}
.create-trigger {
    position:absolute;font-size:12px;margin-left:-112px;margin-top:26px;color: #777777;
}
.battery-low-link {
    position:absolute;font-size:12px;margin-left:-96px;margin-top:26px;color:#0088cc;
}
.create-action{
    position:absolute;font-size:12px;margin-left:-96px;margin-top:26px;color:  #777777;
}
