.status-body-content{
    padding:10px;
}
/*status page sub_menu*/
.status-well {
    padding: 5px;
    margin-bottom: 5px;
    position: relative;
    height: 42px;

    border-radius: 0px;
}


.bread-crumb{
    position:absolute;
    top:50%;
    left:10px;
    transform: translate(0% , -50%);
}
.bread-crumb>a{
    color: #0088cc;

}
.bread-crumb>a:hover{
    color: #0088cc;
    cursor:pointer;
}
/*status page sub_menu end*/

.total-tanks{
    padding-right:10px;
}
/*status tgrid menus*/
.all-account , .all-tanks{
    margin-right:10px;
}
.account-lbl{
    color:#aaa;
    font-weight:bold;
    font-size: 11px;
}


/*status tgrid menus*/
/*status table grid start*/
#statusTarget{
    margin-top: 10px;
    margin-bottom: 30px;
}
#statusTarget>.row>.tgrid-content.table-responsive{
    padding:0;

}



.unit-small{
    color: #777777 !important;
    font-size: 11px;
    font-weight: normal;
}


.th-alerts:hover , .th-messageTime:hover , .th-tanks:hover , .grid-reason-code:hover{
    background-color: #444 !important;
    cursor: pointer;

}
th#gridMessage:hover  , th#gridReasonCode:hover{
    text-decoration: none;
}

.grid-device{
    color: #777;
    font-size: 11px;
}
.grid-device>span{
    font-size:11px;
    color:#333;
}
.td-location a{
    color:#333;
    cursor:pointer;
}
.pump-name-capitalize{
    text-transform: uppercase;
}
.pump-name-capitalize>a{
    color:#000;
}

td.td-tank-level{
    text-align:center;
}

.view-detail>.btn-primary{

    background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    width:86px;
    height:20px;
    padding: 2px 6px;
    font-size: 11px;
    line-height: 14px;
}
#reportStatus{
    background: #fff;
    width: 120px;
}
#reasonStatus{
    background: #fff;
    width: 172px;
}
button#reasonCodeBtn {
    background: #fff;
    width: 172px;
    text-align: left;
}
#ClrFilter.btn-mini{
    font-size: 13px;
    padding: 5px;
}
#wellFilter.well{
    padding:10px;
    margin-top:10px;
    display:none;
}
#stsImgUpload.modal{
    margin:0;
     left:0;right:0;top:0;
    width:100%;
    height:100vh;
    background:transparent;
}
#stsImgUpload > .modal-dialog{
    margin-top:80px;
    width:70%;
}
.upload-modal , .img-upload{
    height:65vh;
    position: relative;
}
#stsImgUpload >.modal-dialog > .modal-content > .modal-body{
    max-height:unset;
}
#imgUploadMap{
    position:absolute;
    width:100%;
    height:100%;
    border-bottom-left-radius: 10px;
}
.img-upload>div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
#statusSearchId{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right:none;


}
#statusSearchBox{
    width:241px;
    border-top-right-radius:4px;
    border-bottom-right-radius: 4px;
}
.v-dtl-list{
    display:flex;background:#f5f5f5;font-size:11px;

}

.v-dtl-key{
    width:230px;
    padding:5px;
    border:1px solid #ccc;
    border-left-style: none;
    border-bottom-style:none;
    padding-left:15px;
}
.v-dtl-value{
    width:70px;padding:5px;border:1px solid #ccc;border-left-style: none;
    border-right-style:none;
    border-bottom-style:none;
}

/*.log-out{
    float: none;

    line-height: 25px;

    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
    min-width: 60px;
    text-align: center;

}
.log-out>.dropdown>a.dropdown-toggle{
    color: #b5c8d7;
    text-decoration:none;
    cursor:pointer;
    background:transparent;
}
.log-out>.dropdown>a.dropdown-toggle:hover{
    color:#fff;
}

.log-out:hover , .log-out>.dropdown:hover{
    text-decoration:none;
    cursor:pointer;
    background:#0f0f0f;
    color:#fff;

}*/

