th[data-sort], td[data-sort] {
    cursor: pointer;
    font-weight: bold
}

th[data-sort]:hover, td[data-sort]:hover {
    text-decoration: underline;
    background: rgba(0, 0, 0, 0.05)
}

th[data-sort].asc, th[data-sort].desc, th[data-sort].asc span, th[data-sort].desc span, td[data-sort].asc, td[data-sort].desc, td[data-sort].asc span, td[data-sort].desc span {
    color: #08c
}

th[data-sort].asc span:before, td[data-sort].asc span:before {
    content: "  \25B2"
}

th[data-sort].desc span:before, td[data-sort].desc span:before {
    content: "  \25BC"
}

th[data-hidden="true"], td[data-hidden="true"] {
    display: none
}

.tgrid-content th {
    background: #e1e1e1;
    color: #333;
    font-size:12px
}
.tgrid-content td {
    font-size: 13px;
    padding: 8px !important;
}

.tgrid-content {
    overflow-x: auto;
    position: relative;
    min-width:90%
}

@-webkit-keyframes opacity {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-moz-keyframes opacity {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.tgrid-loading-container span {
    -webkit-animation-name: opacity;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: opacity;
    -moz-animation-duration: .5s;
    -moz-animation-iteration-count: infinite;
    font-size: 20px;
    padding-left: 1px;
    font-weight: bold
}

.tgrid-loading-container span:nth-child(1) {
    padding-left: 3px
}

.tgrid-loading-container span:nth-child(2) {
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms
}

.tgrid-loading-container span:nth-child(3) {
    -webkit-animation-delay: 200ms;
    -moz-animation-delay: 200ms
}

table {
    border-collapse: collapse;
    width: 100%;
    background: #fff
}

.sticky-wrap {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    width: 100%
}

.sticky-wrap .sticky-thead, .sticky-wrap .sticky-col, .sticky-wrap .sticky-intersect {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0s ease-in-out;
    z-index: 50;
    width: auto
}

.sticky-wrap .sticky-thead {
    box-shadow: 0 .25em .1em -0.1em rgba(0, 0, 0, .125);
    z-index: 100;
    width: 100%
}

.sticky-wrap .sticky-intersect {
    opacity: 1;
    z-index: 150
}

.sticky-wrap .sticky-intersect th {
    background-color: #666;
    color: #eee
}

.sticky-wrap td, .sticky-wrap th {
    box-sizing: border-box;
    text-align: left
}