<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--<meta http-equiv="Content-Security-Policy" content="default-src *  Access-Control-Allow-Origin: * ">-->
    <link rel="shortcut icon" href="images/favicon/vts-favicon.png">

    <title>Teezle</title>

    <!--CSS - Frameworks and Plugins-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,500italic,400italic,300italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="lib/bootstrap-3.3.5/css/bootstrap.min.css" type="text/css">

    <link rel="stylesheet" href="lib/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="lib/animate-css/animate.css" type="text/css">

    <link rel="stylesheet" href="lib/tGrid/tgrid-min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/sprites.css">
    <link rel="stylesheet" href="css/firebird.css">
    <link rel="stylesheet" href="css/menu.css" type="text/css">
    <link rel="stylesheet" href="css/common_style.css" type="text/css">
    <link rel="stylesheet" href="css/nProgress.css" type="text/css">

     <link rel="stylesheet" href="css/toast.css" type="text/css">


    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />




    <!--CSS - Custom-->

    <!--JS - Frameworks and Plugins-->
    <script src="lib/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="lib/underscore-1.8.3/underscore-1.8.3-min.js"></script>
    <script src="lib/bootstrap-3.3.5/js/bootstrap.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="/lib/moment.min.js"></script>
    <script type="text/javascript" src="/lib/moment/moment_TZ-0.5.11.min.js"></script>
    <script src="lib/tz-analytics.js" type="text/javascript"></script>
    <script src="lib/highcharts/highcharts.js" type="text/javascript"></script>
    <script src="lib/highcharts/no-data-to-display.js" type="text/javascript"></script>
    <script src="lib/director/director.min.js" type="text/javascript"></script>
    <script src="lib/pubnub/pubnub-3.14.5.min.js" type="text/javascript"></script>
    <script src="lib/pubnub/pubnub-v3-handlers.js"></script>



    <!-- JS - Custom Frameworks -->
    <script src="lib/tGrid/tgrid.js" type="text/javascript"></script>
    <script src="lib/tz-js/jquery-custom-functions.js" type="text/javascript"></script>
    <script src="lib/tz-js/tz-ajax.js" type="text/javascript"></script>
    <script src="lib/tz-js/tz-ajax-callback-handler.js" type="text/javascript"></script>
    <script src="lib/tz-js/tz-utils.js" type="text/javascript"></script>


    <!--JS - Custom-->
<!--    <script src="js/common-ajax.js"></script>-->

 <script src="js/nProgress.js"></script>
  <script src="js/commonFunctions.js"></script>
 <script src="js/toast.js"></script>


    <script>

        var currentPage ,apiUrl ;
        apiUrl  =  "<%= conf.apiUrl %>";


        $(function() {
            currentPage = "<%= page %>";

        });


        function toggleicon(){

            $(".toggleicon").toggleClass(" tz-icon-double-angle-down");


            if(currentPage == 'mapping'){
                $("#map").toggleClass("test");
            }else{
                console.log('else');
            }


        }

    </script>
</head>

<body id="body">
<div class="container-fluid" style="padding-right:15px;">
    <div class="row">
        <div class="col-md-12 body-content" id="bodyContent">
            <%- include('menu/main_menu.html') %>

            <%- body %>
            <%- include('footer/footer.html') %>
        </div>
    </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=<%= conf.mapKey %>" async defer></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
</body>
</html>


