.no-padding{
    padding:0;
}
.no-margin{
    margin:0;
}
.margin-auto{
    margin:auto;
}
.padding-atuo{
    padding:auto;
}
.border-none{
    border-style:none;
}
.b-left-none{
    border-left-style: none;
}
.b-right-none{
    border-right-style: none;
}
.table.table-bordered.table-condensed>thead>tr>th{
    vertical-align:middle;
    text-align:center;
    background-color: #444;
    color: #FFFFFF;
}
.tgrid-content , .table-responsive{
    overflow: unset;
}
.open > .dropdown-menu{
    z-index:1031;
}
.table.table-bordered.table-condensed>thead>tr>th{
    background-color:#333;
}
.table-bordered{
    border-collapse: collapse;
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border-bottom-width:0px;
}
button#searchId.btn.btn-default , button.report-srch.btn.btn-default{
    height: 28px;
    width: 28px;
    border-right-style: none;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    text-align: center;
    padding: 0px;
}



input#searchBox.form-control ,input.report-srchBox.form-control {
    width:241px;
    height:28px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
button#searchId.btn.btn-default , button.report-srch.btn.btn-default{
    height: 28px;
    width: 28px;
    border-right-style: none;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    text-align: center;
    padding: 0px;
}

.btn-min{
    padding: 2px 6px;
    background-color: #0055cc;
    background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);

    font-size: 11px;
    border-radius: 4px;
    color: white;
    border-style: none;

    height:21px;
    margin-bottom: 0px !important;
    margin-top: 10px;
}
.btn-min:hover {
    background-image: unset;
    background-color:  #0055cc;
}
.tank-progress{
    background:#00aaff;
}
.progress , .progress-bar{
    height:10px;
    border-radius:0px;
    margin-bottom:5px;
}

.display{
    display:block;
}


