.reportsTab.nav-tabs>li{
    width: 100%;
}
.reportsTab.nav-tabs>li a{
    margin: 0;
    border-radius: 0;
    border-right: 0 !important;
    margin-bottom: 4px;
    margin-left: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #666;

}
.reportsTab.nav-tabs > .active > a, .nav-tabs > .active > a:hover{
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right: none !important;

}
.reportsTab.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right: none !important;
}
.reportsTab h4{
    margin: 10px 15px 13px 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 14px;
}


.gridSearch{
    width: 200px;
    z-index: 1;
    padding-right: 30px;
}
.gridClose{
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    padding: 7px 14px;
    display: none;
}