.email-icon, .phone-icon, .valve_medium_white, .valve_medium, .tank_small_white, .tank_small, .tanksite_small_white, .tanksite_small, .tank_medium, .sitetank_small, .sitetank_medium, .maptankico1, .map_small, .mapsiteico1, .map_medium, .map_large, .valvetank_large_white, .valvetank_large_black, .valve_large_white, .valve_large_black, .tank_large_white, .tank_large{
	background: url(../images/sprites.optimized.png) no-repeat;
	display: inline-block;
    vertical-align: middle;
}

.email-icon{
    background-position: -530px 0;
    width: 18px;
    height: 14px;
}

.phone-icon{
    background-position: -530px -15px ;
    width: 13px;
    height: 14px;
}

.valve_medium_white{
    background-position: -509px 0;
    width: 20px;
    height: 20px;
}

.valve_medium{
    background-position: -231px 0;
    width: 24px;
    height: 24px;
}

.tank_small_white{
    background-position: -488px 0;
    width: 20px;
    height: 20px;
}

.tank_small{
    background-position: -467px 0;
    width: 20px;
    height: 20px;
}

.tanksite_small_white{
    background-position: -256px 0;
    width: 24px;
    height: 24px;
}

.tanksite_small{
    background-position: -381px 0;
    width: 22px;
    height: 22px;
}

.tank_medium{
    background-position: -165px 0;
    width: 32px;
    height: 32px;
}

.sitetank_small{
    background-position: -446px 0;
    width: 20px;
    height: 20px;
}

.sitetank_medium{
    background-position: -198px 0;
    width: 32px;
    height: 32px;
}

.maptankico1{
    background-position: 0 0;
    width: 32px;
    height: 32px;
}

.map_small{
    background-position: -404px 0;
    width: 20px;
    height: 20px;
}

.mapsiteico1{
    background-position: -99px 0;
    width: 32px;
    height: 32px;
}

.map_medium{
    background-position: -425px 0;
    width: 20px;
    height: 20px;
}

.map_large{
    background-position: -132px 0;
    width: 32px;
    height: 32px;
}

.valvetank_large_white{
    background-position: -66px 0;
    width: 32px;
    height: 32px;
}

.valvetank_large_black{
    background-position: -33px 0;
    width: 32px;
    height: 32px;
}

.valve_large_white{
    background-position: -331px 0;
    width: 24px;
    height: 24px;
}

.valve_large_black{
    background-position: -281px 0;
    width: 24px;
    height: 24px;
}

.tank_large_white{
    background-position: -306px 0;
    width: 24px;
    height: 24px;
}

.tank_large{
    background-position: -356px 0;
    width: 24px;
    height: 24px;
}

/* Valve */
.valve-close, .valve-open{
    background: url(../images/valve.optimized.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.valve-open{
    background-position: 0 0;
    width: 72px;
    height: 66px;
}

.valve-close{
    background-position: -73px 0;
    width: 72px;
    height: 66px;
}
